body {
  margin: 0;
  font-family: calibri;
  background-color: #ffe8d6;
}
*{ 
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

.sidebar {
  background: #19212B;
  width: 150px;
  position: fixed;
  height: 100vh;
  overflow: auto;
  z-index: 99; 
}

.avatarImg {
  margin: 3em auto 1.5em auto;
  height: 100px;
  width: 100px;
  transition: all 200ms ease;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #039BE5;
  cursor: pointer; 
}

.avatarImg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
  }

.sidebar-menu {
  padding-top: 1.5em;
  position: relative; 
}

.sidebar-menu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    color: white; 
}
  
.sidebar-menu li {
    position: relative;
    padding: 0.9em 0em 0.9em 1.5em;
    cursor: pointer;
    transition: opacity 340ms ease, -webkit-transform 340ms;
    transition: transform 340ms, opacity 340ms ease;
    transition: transform 340ms, opacity 340ms ease, -webkit-transform 340ms; 
}

.sidebar-menu li a {
      color: white;
      text-decoration: none;
      opacity: 0.8;
      position: relative;
      display: inline-block;
      transition: all 150ms ease; 
}

.sidebar-menu li.isActive {
      font-weight: bolder; 
}

.sidebar-menu li.isActive a {
        opacity: 1;
        -webkit-transform: translateX(4px);
         transform: translateX(4px); 
}

.sidebar-menu li.isActive:before {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        transition: all 150ms ease; 
}
.sidebar-menu li.isActive:hover a {
        opacity: 1;
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
}
.sidebar-menu li:hover a {
      opacity: 1;
      -webkit-transform: translateX(11px);
       transform: translateX(11px); 
}
.sidebar-menu li:hover:before {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      transition: all 150ms ease;
}

.sidebar-inner {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  min-height: 600px; 
}

.donnees:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #EF476F;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.competences:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #FFD166;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.experiences:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #06D6A0;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.formation:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #118AB2;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.logiciels:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #3a5a40;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.langues:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #E71D36;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.loisirs:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #FF9F1C;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.cv:before {
  content: '';
  width: 9px;
  height: 100%;
  background-color: #ee6c4d;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); 
}

.img-box {
  position: relative; 
}

.img-box:hover {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease; 
}
.img-box:hover {
      opacity: 1; 
}





/*section main*/
.main {
  margin-left: 150px;
  display: block;
  padding-top: 0.2em;

}

.header{
  text-align: center;
}

.header h2{
  color: #073b4c;
  font-size: 50px;
}

.box-container{
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 30px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; 
  width: 90%;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 20px;

}

.exp{
  display: block;
  justify-content: center;
  align-items: center; 
  width: 90%;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}



.label{
  width: 40%;
  justify-content: space-between;
  display: block; 
}
.label img{
  width: 40px;
  height: 40px;
}

.label p{
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px;
  color: #f6bd60;
}

.label label{
  font-size: 20px;
  font-weight: bold;
  margin-left: 6px; 
}


.info{
  width: 60%;
}

.info p{
  font-size: 20px;
}
.info a{
  color: black;
}

.info1{
  width: 50%;
  float: left;
  display: block;
}
.info2{
  width: 50%;
  float: right;
  display: block;
}

.info1 p,.info2 p{
  font-size: 20px;
}



.categorie{
  text-align: center;
  width: 100%;
}
.categorie p{
  color: #264653;
  font-size: 40px;
}
.title{
float: right;
width: 100%;
}
.title p{
  color: #2a9d8f;
  font-size: 25px;
}
.title a{
  text-decoration: none;
  color: #2a9d8f;
}


.container { 
            background-color: rgb(192, 192, 192); 
            width: 100%; 
            border-radius: 15px; 
            height: 20px;
        } 
      
.skill { 
            background-color: #f28482; 
            color: white; 
            padding: 1%; 
            text-align: right; 
            font-size: 20px; 
            height: 20px;
            border-radius: 15px; 
        } 


.cv-vue{
  display: flex;
}

.right
{
  width: 70%;
  display: block;
  margin-left: 50px;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
  margin: 20px 30px;
}

.left
{
  width: 30%;
  display: block;
  background-color: #1d3557;
  color: white;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
  margin: 20px 30px;
}

.picture{
  width: 100%;
  height: 140px;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
}

.pic-rond img{
  width: 100%;
  max-width: 140px;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 8px;
}


.titre h2{
  font-size: 30px;
  text-align: center; 
  color: #fff;
}

.name-container{
  width: 100%;
  height: 140px;
  background-color: #1d3557;
  margin-left: -20px;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
}

.name-container p{
  width: 100%;
  height: auto;
  max-height: 120px;
  text-align: center;
  font-size: 70px;
  margin-top: 0rem;
  color: #fff;
}

.contenu{
  width: 90%;
  align-content: center;
}

.liste ul{
  text-align: center;
  line-height: 35px;
  list-style-type: none;
}

.don{
  margin-left: 50px;
}

.contenu a{
  text-decoration: none;
  color:white;
}

.type{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.type p{
  text-align: center;
  color:#003049 ;
  font-size: 20px ;
  font-weight: bolder;
}
.lieu{
  width: 100%;
}
.lieu p, .lieu a{
  color: #264653 ;
  font-weight: 20px;
  float: left;
  font-weight: bold;
}

.detail{
  width: 100%;
  display: flex;
  margin: 0;
}
.date{
  width: 20%;
}
.date p {
  color: ;
  font-weight: bold;
}
.text{
  width: 80%;
}

.box-exp,.box-form,.box-comp-pers{
  background-color: #f28482;
  padding-left: 20px;
  margin-left: -20px;
  width: 100%;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
  border-radius: 10px;
}

.flex{
  background-color: #f28482;
  display: flex;
  width: 100%;
}
.color{
  background-color: #f28482;
  margin: 20px 30px;
}


#liste2 ul
{
  list-style: square;
}









